<tr id = <%= shingle.id %> >
	<td><%= shingle.val %></td>
	<td><%= shingle_counter + 1 %></td>
	<td><%= shingle.count %></td>
	<td><%= shingle.freq %></td>
	<td><%= shingle.hsk_2012%></td>
	<td><%= shingle.shingle_type %></td>
</tr>
