<section>

  <h1><%= @article.title %></h1>

  <p><%= @article.body %></p>

  <!-- <ul class = "alt"> -->

      <%= link_to "Edit", edit_article_path(@article), class: "button" %>

      <%= link_to "Delete", article_path(@article), data: {
    	turbo_method: :delete,
    	turbo_confirm: "Are you sure?"
    	}, class: "button" %> 

      <%= link_to "Main Page", articles_path, class: "button" %>
  <!-- </ul> -->

  <br>
  <br>

  <h2>Comments</h2>
  <%= render @article.comments %>


  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

</section>