<section class="wrapper style1 align-left input-text-index-section">
	<div class="inner">

		<div>
			<h1>My Known Words</h1>
		</div>
		
		<div>
			<h2>View, Edit, or Create New</h2>
		</div>
		<br>
		<div>
			<% if @known_words.any? %>
				<table id = "my-known-words" class="alt">
					<thead>
						<tr>
							<th> Name </th>
							<th> Modified </th>
							<th> View </th>
							<th> Edit </th>
						</tr>
					</thead>
					<tbody>
					 
						<% @known_words.each do |known_word| %>
						<tr>

				      		<td>
				      			<%= known_word.word %>
				      		</td>

				      		<td>
				      			<%= known_word.updated_at %>
				      		</td>

				      		<td>
								<%= link_to "", known_word_path(known_word), class: "button small no-box-shadow icon fas fa-eye" %>
				      		</td>

				      		<td>
								<%= link_to "", edit_known_word_path(known_word), class: "button small no-box-shadow icon fas fa-edit" %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>	
			<% else %>
				<p>You don't have any known words yet!</p>
			<% end %>
		</div>
		<br>
		<div>
			<div>
				<%= link_to "Add New", new_known_word_path, class: "button fit primary" %>
			</div>
		</div>
	</div>

</section>