<%= form_with model: garbage_word do |form| %>



   	<!-- WOrd -->
	<div>
		<!-- < %= form.label :word %> -->
		<%= form.text_field :word %>
		
		
		<% garbage_word.errors.full_messages_for(:word).each do |message| %>
			<div><%= message %></div>
		<% end %>
		

	</div>
	<br>
	<br>


	<!-- Created and Updated Dates -->
  	<% if action == "edit"  %>
		<div>
			<%= form.label :created_at %>
			<%= form.datetime_field :created_at, :readonly => true %>
		</div>
		<br>
		<br>

		<div>
			<%= form.label "Last Updated" %>
			<%= form.datetime_field :updated_at, :readonly => true %>
		</div>
		<br>
		<br>
  	<% end %>

  	<!-- Form Submit -->
	<div>
		<% if action == "edit"  %>
			<%= form.submit "Update", class: "button fit primary" %>
		<% else %>
			<%= form.submit "Process", class: "button fit primary" %>
		<% end %>
	</div>
<% end %>